/*la coloration ne marche pas pour le titre */

p ,title{
    color:rgb(144, 15, 224); 
}

.modification_color{ color: blue;


}


.span_class{
    color: brown;
} 
 

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    /* background-color: rgb(111, 101, 117) ; */

     
}

.italique_mot{
    font-weight: bolder ;
    text-decoration: underline;
}

body{
    background-color: rgb(134, 128, 136)  ;
    /* background-image: url(parrot.jpg);
    background-size:cover ;
    background-position: center; */
    opacity: 1;
    background: linear-gradient( #FF0099,#f3f3ee)
}